<!DOCTYPE html>
<html>
  <head>
    <title>Find the key of a song</title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
  </head>
  <body>
  	<% include ../include/menu.ejs %>
    <h1>Analyze chord progression</h1>

    <div>
      <span>submit a comma seperated chords e.g. D,A,Bm7,G</span>
      <form method="GET" action="">
      	<br/>
        Intro : <input type="text" name="intro" /> <span><%=introOut%></span> <br/><br/>
        Verse : <input type="text" name="verse" /> <span><%=verseOut%></span> <br/><br/>
        Pre-chorus : <input type="text" name="prechorus" /> <span><%=prechorusOut%></span> <br/><br/>
        Chorus : <input type="text" name="chorus" /> <span><%=chorusOut%></span> <br/><br/>
        Solo : <input type="text" name="solo" /> <span><%=soloOut%></span> <br/><br/>
        Bridge : <input type="text" name="bridge" /> <span><%=bridgeOut%></span> <br/><br/>
        Outro : <input type="text" name="outro" /> <span><%=outroOut%></span> <br/><br/> 
        <input type="submit"/>
      </form>
    </div>
	<br/><br/>

  </body>
</html>
