<!DOCTYPE html>
<html>
  <head>
    <title>Find the key of a song</title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
  </head>
  <body>
  
  	<% include ../include/menu.ejs %>
  	
    <h1>Find the key of a song</h1>

    <div>
      <span>submit a comma seperated chords e.g. D,A,Bm7,G</span>
      <br/><br/>
      <form method="GET" action="">
        <input type="text" name="chord" />
        <input type="submit"/>
      </form>
    </div>
	<br/><br/>
	
	<% if(myError != null) { %>
	<div>
		<span class="error" style="color:red;"><%=myError%></span>
	</div>
	<% } %>
	
    <% if(chordList != null && myError == null){ %>
    <div>
      <span>Chord list = <%=chordList%></span><br/><br/>
      <span>Key = <%=keyCompatArray[0].key%></span> <span>Compatibility : <%=keyCompatArray[0].compat%></span><br/>
      <span>Key = <%=keyCompatArray[1].key%></span> <span>Compatibility : <%=keyCompatArray[1].compat%></span><br/>
      <span>Key = <%=keyCompatArray[2].key%></span> <span>Compatibility : <%=keyCompatArray[2].compat%></span><br/>
    </div>
    <% } %>

  </body>
</html>
