<!DOCTYPE html>
<html>
  <head>
    <title>Find the key of a song</title>
    <link rel="stylesheet" href="/stylesheets/screen.css" />
  </head>
  <body>
    <h1>Find the key of a song</h1>

    <div>
      <span>submit a comma seperated chords e.g. D,A,Bm7,G</span>
      <form method="GET" action="">
        <input type="text" name="chord" />
        <input type="submit"/>
      </form>
    </div>
	<br/><br/>
	
	<% if(error != null) { %>
	<div>
		<span class="error" style="color:red;"><%=error%></span>
	</div>
	<% } %>
	
    <% if(chordList != null && error == null){ %>
    <div>
      <span>Chord list = <%=chordList%></span><br/><br/>
      <span>Key = <%=key1%></span> <span>Compatibility : <%=compat1%></span><br/>
      <span>Key = <%=key2%></span> <span>Compatibility : <%=compat2%></span><br/>
      <span>Key = <%=key3%></span> <span>Compatibility : <%=compat3%></span><br/>
    </div>
    <% } %>

  </body>
</html>
